@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color:#2D2D2D;
    font-family: 'poppins';
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    margin-top: 75px;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    font-family: Raleway;
    
}

form input {
    height: 40px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 30px;
    padding: 5px;
}

form input::placeholder {
    padding: 5px;
}

form input[type="submit"]{
    background-color: #0C70F2;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 6px;

}

label {
    margin-bottom: 7px;
}

@media screen and (max-width: 600px) { 
    form {
        width: 300px;
    }
}



